.contacts {
  font-size: calc(1rem);
}

.contacts .item {
  display: grid;
  grid-template-columns: 1fr 1fr;

  word-wrap: break-word;

  font-size: calc(1rem + 2px);
}

.contacts .item p {
  font-size: calc(1rem + 2px);
}

.contacts .item span {
  
}

.contacts .item ul {
  line-height: 20px;
  list-style: none;
}

