@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.map_container {
  display: grid;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.map img {
  /* vertical-align: middle;
   max-width: 100%;
  width: 100%;
  height: 100%; */
}

.map object {
  vertical-align: middle;
  max-width: 100%;
}

.map .place {
  border: blue 2px solid;
}

.map .place:hover {
  fill: blue;
}

.map svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.region {
  display: grid;
  position: relative;
  opacity: 0.2;
  fill: rgb(255, 255, 255);
}

.region:hover {
  opacity: 1;

  background: black;
}

.region:hover .info_banner {
  background: black;

  opacity: 0.1;
}

.popup {
  width: 300px;
  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgb(211, 211, 211);
  visibility: hidden;
  position: absolute;
  transition: all 0.3s linear;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 14px;
  border-radius: 25px;
  border: white 1px solid;
  padding: 0, 20px, 20px, 20px;
  pointer-events: none;
}

.popup div {
  padding: 10px 0 0 20px;
}

.region_title {
  height: 40px;
  display: flex;
  justify-content: start;
  background-color: rgb(36, 25, 100);
  border-radius: 25px 25px 0 0;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 18px;
}

.region_title img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.region_state {
}

.region_population {
}

.region_invest {
}

.region_potenzial {
}

.region_projects {
}


.info_banner {
  width: 450px;
  height: 250px;
  background: #f3f3f3;

  position: absolute;
}