@media (min-width: 776px) {
  .mobileHeader {
    display: none !important;
  }
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(31, 54, 133);
  line-height: 50px;
  padding: 10px;
  width: 100%;
}

.min_logo_name {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 24px;
  margin: auto;
}

.hamburger_menu {
  
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2 !important;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  width: 300px;
  margin: 0;
  padding: 80px 0 30px 0;
  list-style: none;
  text-align: center;
  background-color: rgb(31, 54, 133);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  overflow-y: scroll;

  z-index: 9999;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  z-index: 1 !important;
  visibility: visible;
  left: 0;
}