.news_page {
  display: block;
}

.last_news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.last_post {
  display: block;
}

.last_post p {
  width: 400px;
}

.last_post img {
  max-width: 100%;
  height: auto;
}

.banners {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.banners_item {
  max-width: 100%;
  height: auto;
}