.news_page {
  display: block;
}

.last_news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.last_post {
}

.last_post .imgcontainer {
  width: 730px !important;
  height: 486px !important;
}

.last_post p {
  width: 50%;
}

.banners {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.banners_item {
  max-width: 100%;
  height: auto;
}

.banners_item .top_slider {
  margin-bottom: 20px !important;
  padding-bottom: 10px;
}

.banners_item .down_slider {
  margin-top: 20px !important;
}