.contacts {
  max-width: 100%;
}

.contacts div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts div p {
  font-size: calc(1rem + 3px);
}

.news {
  margin-top: 30px;
  cursor: pointer;
}

.news menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  list-style: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.news menu li {
  max-height: 52px;
  border-radius: 3px;
  border: 1px solid rgb(31, 54, 133);

  background: rgb(31, 54, 133);

  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;

  margin: 5px;
}

.news .news_content {
  width: 100%;
  margin-top: 20px;

  text-align: center;
  border-radius: 25px;
}