@media (max-width: 1100px) {
  .structure .ministr {
    display: flex !important;
    justify-content: center;
  }

  .structure .headOf {
    justify-content: center !important;
  }
}

.structure {
  justify-content: space-between;
}

.ministr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 420px;
  margin: 5px;
}

.card-header {
  height: 80px;

  display: flex;
  align-items: center;
}

.card-title {
  font-size: 1rem;
}

.card-body {
  display: flex;
  padding: 0;
}

.list-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 20px;
  padding: 20px 20px 20px 0;

  font-weight: 700;
  line-height: normal;
}

.headOf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}